form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.loading-spinner {
  align-self: center;
  margin: auto;
}

.title-container-with-x {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 25px;
  position: relative;
}

.x-icon {
  cursor: pointer;
}
