mat-card {
  max-width: 240px;
  max-height: 445px;
  overflow: hidden;
  height: 445px;
}

p {
  height: 40px;
  max-width: 184px;
  overflow-y: hidden;
  overflow-x: visible;
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  width: 240px;
  height: 340px;
  object-fit: cover;
}

.icon-container {
  position: relative;
  bottom: 428px;
  left: 170px;
  width: 50px;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  cursor: pointer;
}
