mat-card {
  max-width: 240px;
  max-height: 445px;
  overflow: hidden;
  height: 445px;
}

p {
  height: 40px;
  max-width: 184px;
  overflow-y: hidden;
  overflow-x: visible;
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  width: 240px;
  height: 340px;
  object-fit: cover;
}

.icon-container {
  background: rgba(228,228,228,0);
  background: linear-gradient(51deg,rgba(228,228,228,0) 0%, rgba(83,83,83,0.82) 50%);
  background: -webkit-linear-gradient(51deg,rgba(228,228,228,0) 0%, rgba(83,83,83,0.82) 50%);
  background: -moz-linear-gradient(51deg,rgba(228,228,228,0) 0%, rgba(83,83,83,0.82) 50%);
  position: relative;
  bottom: 440px;
  padding-right: 50px;
  padding-top: 10px;
  border-radius: 7px;
  left: 170px;
  width: 50px;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  cursor: pointer;
}
