mat-card {
  max-width: 240px;
  max-height: 540px;
  overflow: hidden;
  min-height: 445px;
}

p {
  max-width: 184px;
  overflow: hidden;
}

img {
  width: 240px;
  height: 340px;
  object-fit: cover;
}

.edit-icon {
  position: relative;
  float: right;
  bottom: 390px;
  left: 15px;
  cursor: pointer;
}
