
<div *ngIf="isLoaded" class="cards-container">
  <ng-container *ngFor="let card of cards" >
    <app-card [card]="card" (editChange)="ngOnInit()"></app-card>
  </ng-container>
  <div class="add-new-card-container">
    <mat-card (click)="addNewCard()" class="add-new-card" (mouseenter)="toggleColorAdd()" (mouseleave)="toggleColorAdd()">
      <a >
        <mat-icon [color]="buttonColorAdd" svgIcon="plus"></mat-icon>
      </a>
    </mat-card>

  </div>
</div>
<mat-progress-spinner *ngIf="!isLoaded"></mat-progress-spinner>
