.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

app-card {
  margin: 1.5%;
  border-radius: 20px;
}

.add-new-card {
  margin: 1.5%;
  cursor: pointer;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.add-new-card-container {
  display: flex;
  width: 240px;
  justify-content: center;
  margin: 1.5%;
  height: 477px;
  align-items: center;
}

.add-new-card:hover, app-card:hover {
  box-shadow: 4px 6px 17px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 6px 17px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 6px 17px -4px rgba(0,0,0,0.75);
}
