mat-sidenav-content {
  min-height: 1000px;
  background-color: #9e9e9e;
}

.router-outlet {
  margin-top: 5%;
}

.toggle-nav-button {
  position: fixed;
  z-index: 1000;
  color: #3f51b5;
  background-color: #fafafa;
  max-height: 50px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}


.mat-icon {
  height: 37px;
  width: 37px;
}
