mat-sidenav-container {
  background-image: url("https://wallpapersafari.com/downloadres/jHZbQ5/desktop/1920/1080/");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

mat-sidenav-content {
  min-height: 1000px;
  backdrop-filter: blur(5px);
}

.router-outlet {
  overflow-y: scroll;
  height: 950px;
}

.router-outlet::-webkit-scrollbar {
  display: none;
}

.toggle-nav-button {
  position: fixed;
  z-index: 1000;
  background-color: #fafafa;
  max-height: 50px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-nav-button:hover {
  box-shadow: 4px 6px 17px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 6px 17px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 6px 17px -4px rgba(0,0,0,0.75);
}

.mat-icon {
  height: 37px;
  width: 37px;
}
